# Global Secrets & Configs
**/*.env
**/*service-account*.json
**/google-services.json
**/client_secret_*.json

# Hackathon Dev Notes
**/initial_implementation_plan.md
**/design.md
**/fcm_frontend_setup.md
