# Global Secrets & Configs
**/*.env
**/*service-account*.json
**/google-services.json
**/client_secret_*.json

# Hackathon Dev Notes
**/initial_implementation_plan.md
**/design.md
**/fcm_frontend_setup.md
frontend_evenout/Project_report_dev.md
frontend_evenout/backend_readme.md
frontend_evenout/front_end_refactor.md
frontend_evenout/phase 1 changes.md
frontend_evenout/erd.html
.antigravitycli/e2f9782a-585d-4f5c-b8aa-3b9a420b9cad.json
frontend_evenout/linux/flutter/generated_plugin_registrant.cc
frontend_evenout/linux/flutter/generated_plugins.cmake
frontend_evenout/test-auth.html
